/* utility Start */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body,
html {
 font-family: "Raleway", sans-serif;
 font-size: 62.5%;
}
button,
input,
textarea {
 font-family: "Raleway", sans-serif;
}
:root {
 --primColor: #30caa0;
 --secColor: #444;
 --whiteColor: #fff;
 --grayColor: #252525;
 --lightGrayColor: #707070;
 --lightGreenColor: #30caa0;
 --hoverColor: #30caa0;
 --blurColor: #262626fa;
}

.container {
 max-width: 75%;
 margin: 0 auto;
 padding: 3% 0;
}
/* Utility End */

/********** Header Start **********/
.head {
 position: relative;
 background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("../img/bg-main.jpg");
 width: 100%;
 background-size: cover;
 background-position: center top;
}

/* navbar */
.navbar {
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 4rem 4rem;
 z-index: 4;
 position: fixed;
 top: 0;
 left: 0;
}

/* nav-logo */
.logo {
 position: relative;
 transition: all 0.3s ease-in-out;
 font-size: 1.7rem;
 color: var(--whiteColor);
 letter-spacing: 0.2rem;
 cursor: pointer;
 position: relative;
 transition: all 0.3s ease-in-out;
}
.logo .green {
 color: var(--primColor);
}

/* nav ul */
.nav-menu {
 display: flex;
 position: relative;
}

/* nav li */
.nav-list {
 list-style-type: none;
 margin-left: 3rem;
 position: relative;
}

/*nav a  */
.nav-link {
 text-decoration: none;
 color: var(--whiteColor);
 font-size: 1.5rem;
 text-transform: uppercase;
 transition: all 0.3s ease-in-out;
 position: relative;
}

.nav-link:hover,
.nav-list .current {
 color: var(--hoverColor);
}

/* login icon */
.icon-logo {
 margin-right: 0.4rem;
 color: var(--primColor);
}

/* hamburger */
.hamburger {
 display: none;
}
.hamburger .bar {
 display: block;
 background-color: var(--whiteColor);
 width: 2.3rem;
 height: 0.3rem;
 margin: 0.5rem auto;
 transition: all 0.3s ease-in-out;
}

/* for sticky navar bar big screen style */
/* for navbar */
.navbar.sticky {
 padding: 3rem 4rem;
 background-color: var(--whiteColor);
 box-shadow: 0.1rem 0.1rem 1rem #666;
}

/* for logo and li color */
.navbar.sticky .logo,
.navbar.sticky .nav-link {
 color: #252525;
}

/* for hover and active */
.navbar.sticky .nav-link:hover,
.navbar.sticky .nav-link.current {
 color: var(--lightGreenColor);
}
/* for sticky navar bar big screen style */

/* tagline */
.tag-line {
 padding: 20rem 2% 30rem;
 text-align: center;
 color: var(--whiteColor);
}
.tag-line h2 {
 font-size: 3.6rem;
 margin-bottom: 2rem;
}
.tag-line p {
 font-size: 2.2rem;
 margin-bottom: 4rem;
 line-height: 3rem;
}

/* button */
.btn-style {
 border: none;
 padding: 1rem 3rem;
 border-radius: 0.4rem;
 font-size: 1.5rem;
 font-weight: 600;
 text-transform: uppercase;
 letter-spacing: 0.15rem;
 color: var(--whiteColor);
 cursor: pointer;
 background-color: var(--primColor);
 transition: all 0.3s ease-in-out;
}
.btn-style:hover {
 background-color: transparent;
 border: 2px solid var(--primColor);
}

/********** Header End **********/

/********** filter search Start **********/

.filter-search {
 position: relative;
 top: -9.5rem;
 z-index: 1;
}
.filter-form {
 display: flex;
 gap: 3rem;
 background-color: var(--blurColor);
 padding: 3rem;
 border-radius: 0.3rem;
}
.filter-search input {
 width: 50%;
 border: none;
 border-radius: 0.3rem;
 padding: 0.1rem 1rem;
}
select {
 width: 25%;
 border: none;
 background-color: var(--whiteColor);
 border-radius: 0.3rem;
 padding: 0.1rem 1rem;
}
input:focus,
select:focus {
 outline: 1px solid var(--primColor);
}
/********** filter search End **********/

/********** Section 1 Start **********/

.sec1-recent-property h3 {
 font-size: 3.5rem;
 text-align: center;
 font-weight: 500;
 margin-bottom: 1.5rem;
}
.sec1-recent-property p {
 font-size: 1.4rem;
 text-align: center;
}

.recent-sale {
 display: flex;
 flex-flow: row wrap;
 justify-content: space-between;
}

/* img common property */
.common-img {
 width: 49%;
 height: 27rem;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center top;
 position: relative;
}

.common-img .sale-status-sale {
 display: inline-block;
 background-color: orangered;
 color: var(--whiteColor);
 padding: 1rem 2.5rem;
 font-size: 1.2rem;
 font-weight: 700;
 margin: 2.5rem;
}
.common-img .sale-status-rent {
 display: inline-block;
 background-color: orange;
 color: var(--whiteColor);
 padding: 1rem 2.5rem;
 font-size: 1.2rem;
 font-weight: 700;
 margin: 2.5rem;
}

.common-img .property-info {
 width: 100%;
 position: absolute;
 bottom: 0;
 left: 0;
 display: flex;
 justify-content: space-between;
 padding: 2rem;
}
.common-img .property-info .info h5 {
 font-size: 2rem;
 color: var(--whiteColor);
 margin-bottom: 1.5rem;
 font-weight: 500;
}

.common-img .property-info .info p {
 font-size: 1.8rem;
 color: var(--whiteColor);
 text-align: left;
}

.common-img .property-info .info .location-icon {
 color: var(--lightGreenColor);
 size: 2rem;
 margin-right: 0.5rem;
}

.common-img .property-info .price {
 background-color: var(--lightGreenColor);
 padding: 1.2rem;
 text-align: center;
 border-radius: 0.2rem;
 font-size: 1.8rem;
 align-self: center;
}
/* img common property ends */

.img1-box {
 background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("../img/img1.jpg");
 margin-bottom: 2%;
}
.img2-box {
 background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("../img/img2.jpg");
}
.img3-box {
 background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("../img/img3.jpg");
}
.img4-box {
 background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("../img/img4.jpg");
}

/********** Section 1 End **********/

/********** Section 2 Start **********/
.sec2 {
 background-image: url("../img/service-bg.webp");
 width: 100%;
}
.sec2 .service {
 display: flex;
 justify-content: space-between;
 margin: 4rem auto;
}

/* img */
.service .service-img {
 width: 50%;
}
.service .service-img img {
 width: 100%;
}

/* service text title*/
.service .service-title {
 width: 45%;
 color: var(--whiteColor);
 align-self: center;
}

.service .service-title h3 {
 font-size: 3.5rem;
 text-transform: uppercase;
 color: var(--whiteColor);
 font-weight: 400;
 margin-bottom: 1.5rem;
}

.service .service-title p {
 font-size: 1.4rem;
 margin-bottom: 3.5rem;
}

/* service item icon */
.service-title .service-item {
 display: flex;
 justify-content: flex-start;
}

.service-item .service-icon {
 padding: 2rem;
 background-color: var(--lightGreenColor);
 border-radius: 100%;
 align-self: flex-start;
 border: none;
 font-size: 2rem;
 margin-right: 2rem;
}

.service-item .service-item-text h5 {
 font-size: 1.8rem;
 font-weight: 400;
 margin-bottom: 1rem;
}

.service-item .service-item-text p {
 margin-bottom: 3rem;
 font-size: 1.4rem;
}

/********** Section 2 End **********/

/********** Section 3 Start **********/
.sec3 h3 {
 font-size: 3rem;
 font-weight: 400;
 text-align: center;
 margin-bottom: 2rem;
}
.sec3 .center {
 font-size: 1.4rem;
 text-align: center;
 margin-bottom: 5rem;
 color: var(--lightGrayColor);
}
.sec3-featured {
 display: flex;
 justify-content: space-between;
 flex-flow: row wrap;
}
/* common style */
.sec3-featured .common-box {
 width: 32%;
}
.sec3-featured .common-box img {
 width: 100%;
 vertical-align: bottom;
}

.text-wrapper {
 border-left: 1px solid #ebebeb;
 border-right: 1px solid #ebebeb;
}

.common-box .featured-title {
 text-align: center;
 padding: 1rem;
}

.common-box .featured-title h5 {
 font-size: 2rem;
 font-weight: 400;
 margin-bottom: 1rem;
}
.common-box .featured-title p {
 font-size: 1.4rem;
 margin-bottom: 2rem;
}
.featured-icon {
 color: var(--lightGreenColor);
 margin-right: 1rem;
}
.room-info-wrapper {
 padding: 2.5rem;
}

.room-info {
 display: flex;
 justify-content: space-between;
 flex-flow: row wrap;
 border-top: 1px solid #ebebeb;
 padding-top: 2rem;
}

.room-info .room-feature {
 display: inline-block;
 width: 44%;
 font-size: 1.4rem;
 margin-bottom: 2rem;
 color: var(--lightGrayColor);
}

.common-box .room-price {
 text-align: center;
 background-color: var(--lightGreenColor);
 display: block;
 font-size: 1.8rem;
 font-weight: 600;
 color: var(--whiteColor);
 padding: 1.3rem;
 margin-bottom: 5rem;
 cursor: pointer;
}
/********** Section 3 End **********/

/********** Section 4 Start **********/
.sec4 {
 background-color: #f7f7f7;
 width: 100%;
 text-align: center;
}
.sec4 h3 {
 font-size: 3rem;
 font-weight: 400;
 color: var(--grayColor);
 margin-bottom: 2rem;
 padding-top: 7rem;
}
.sec4 p {
 font-size: 1.4rem;
 color: var(--secColor);
 margin-bottom: 3rem;
}

.property-gallery {
 display: flex;
 justify-content: space-between;
 text-align: center;
}
.property-gallery .common-property {
 width: 24%;
}
.property-gallery .common-property img {
 width: 100%;
 margin-bottom: 2rem;
}
.property-gallery .common-property h5 {
 font-size: 2rem;
 font-weight: 400;
 color: var(--grayColor);
 margin-bottom: 5rem;
}

/********** Section 4 End **********/

/********** Section 5 Start **********/

/********** Section 5 End **********/

/********** Section 6 Start **********/

.testim {
 width: 100%;
 background-image: url("../img/test-bg.jpg");
 background-size: cover;
}
.testim .wrap {
 position: relative;
 width: 100%;
 padding: 2rem 2rem;
 margin: auto;
}
.testim .arrow {
 display: block;
 position: absolute;
 color: var(--whiteColor);
 cursor: pointer;
 font-size: 2.5rem;
 top: 50%;
 transform: translateY(-50%);
 transition: all 0.3s ease-in-out;
 padding: 0.5rem;
 z-index: 1;
}
.testim .arrow:before {
 cursor: pointer;
}
.testim .arrow.left {
 left: 10px;
}
.testim .arrow.right {
 right: 10px;
}
.testim .arrow:hover {
 color: var(--lightGreenColor);
}
.testim .dots {
 text-align: center;
 position: absolute;
 width: 100%;
 bottom: 60px;
 left: 0;
 display: block;
 z-index: 2;
 height: 12px;
}
.testim .dots .dot {
 list-style-type: none;
 display: inline-block;
 width: 12px;
 height: 12px;
 border-radius: 50%;
 border: 1px solid var(--whiteColor);
 margin: 0 10px;
 cursor: pointer;
 transition: all 0.5s ease-in-out;
 position: relative;
}
.testim .dots .dot.active,
.testim .dots .dot:hover {
 background: var(--lightGreenColor);
 border-color: var(--lightGreenColor);
}

.testim .dots .dot.active {
 animation: testim-scale 0.3s ease-in-out forwards;
}
.testim .cont {
 position: relative;
 overflow: hidden;
}
.testim .cont > div {
 text-align: center;
 position: absolute;
 top: 0;
 left: 0;
 padding: 0 0 7rem 0;
 opacity: 0;
}
.testim .cont > div.inactive {
 opacity: 1;
}
.testim .cont > div.active {
 position: relative;
 opacity: 1;
}

.testim .cont div .img img {
 display: block;
 width: 15rem;
 margin: auto;
 border-radius: 50%;
}
.testim .cont div h2 {
 color: var(--lightGreenColor);
 font-size: 1.8rem;
 margin: 1.6rem 0;
}
.testim .cont div p {
 font-size: 1.4rem;
 color: var(--whiteColor);
 width: 80%;
 margin: auto;
 line-height: 3rem;
 letter-spacing: 0.1rem;
}

.testim .cont div.active .img img {
 animation: testim-show 0.5s ease-in-out forwards;
}
.testim .cont div.active h2 {
 animation: testim-content-in 0.5s ease-in-out forwards;
}
.testim .cont div.active p {
 animation: testim-content-in 0.5s ease-in-out forwards;
}
.testim .cont div.inactive .img img {
 animation: testim-hide 0.5s ease-in-out forwards;
}
.testim .cont div.inactive h2 {
 animation: testim-content-out 0.5s ease-in-out forwards;
}
.testim .cont div.inactive p {
 animation: testim-content-out 0.5s ease-in-out forwards;
}

@keyframes testim-scale {
 0% {
  box-shadow: 0px 0px 0px 0px var(--whiteColor);
 }
 35% {
  box-shadow: 0px 0px 10px 5px var(--whiteColor);
 }
 70% {
  box-shadow: 0px 0px 10px 5px var(--lightGreenColor);
 }
 100% {
  box-shadow: 0px 0px 0px 0px var(--lightGreenColor);
 }
}

@keyframes testim-content-in {
 from {
  opacity: 0;
  transform: translateY(100%);
 }
 to {
  opacity: 1;
  transform: translateY(0);
 }
}
@keyframes testim-content-out {
 from {
  opacity: 1;
  transform: translateY(0);
 }
 to {
  opacity: 0;
  transform: translateY(-100%);
 }
}
@keyframes testim-show {
 from {
  opacity: 0;
  transform: scale(0);
 }
 to {
  opacity: 1;
  transform: scale(1);
 }
}
@keyframes testim-hide {
 from {
  opacity: 1;
  transform: scale(1);
 }
 to {
  opacity: 0;
  transform: scale(0);
 }
}

/********** Section 6 End **********/

/********** Section 7 Start **********/
.sec7 {
 width: 100%;
 text-align: center;
 padding-bottom: 6rem;
}
.sec7 h3 {
 font-size: 3rem;
 font-weight: 400;
 color: var(--grayColor);
 margin-bottom: 2rem;
 padding-top: 10rem;
}
.sec7 p {
 font-size: 1.4rem;
 color: var(--secColor);
 margin-bottom: 3rem;
}

.news-block {
 display: flex;
 justify-content: space-between;
 text-align: left;
 flex-flow: row wrap;
}

.news-block .block-common {
 width: 31%;
}
.news-block .block-common img {
 width: 100%;
 margin-bottom: 2rem;
}
.news-block .block-common h5 {
 font-size: 2rem;
 margin-bottom: 2rem;
 font-weight: 500;
}
.news-block .block-common h5 a {
 color: var(--grayColor);
 text-decoration: none;
 cursor: pointer;
}
.news-time {
 display: flex;
 justify-content: space-between;
}
.news-time span {
 font-size: 1.2rem;
 margin-bottom: 2rem;
}
.news-time .news-icon {
 margin-right: 0.5rem;
 color: var(--lightGreenColor);
}

.news-block p {
 font-size: 1.4rem;
 color: var(--grayColor);
 line-height: 2.2rem;
 margin-bottom: 4rem;
}
/********** Section 7 End **********/

/********** Section 8 Start Footer **********/
.foot {
 width: 100%;
 background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url("../img/footerbg.jpg");
 background-position: center;
 background-size: cover;
 color: var(--whiteColor);
 padding-top: 5rem;
}

.footer-content {
 display: flex;
 justify-content: space-between;
}
.footer-common {
 width: 23%;
}

/* footer main */

.foot .main h3 {
 font-size: 3rem;
 font-weight: 600;
 margin-bottom: 2rem;
}
.foot .main h3 .green {
 color: var(--primColor);
}
.foot .main p {
 font-size: 1.2rem;
 margin-bottom: 2rem;
 line-height: 2.5rem;
}

.foot .main .social {
 display: flex;
 justify-content: space-between;
 max-width: 90%;
}
.foot .main .social a {
 text-decoration: none;
 color: var(--lightGreenColor);
 font-size: 1.8rem;
}

/* footer contact */
.contact h3 {
 font-size: 2rem;
 font-weight: 600;
 margin-bottom: 2rem;
}
.contact p {
 font-size: 1.3rem;
 margin-bottom: 2rem;
}
.contact .contact-icon {
 margin-right: 0.8rem;
 color: var(--lightGreenColor);
}

/* footer popular place */
.popular-place h3 {
 font-size: 2rem;
 font-weight: 600;
 margin-bottom: 2rem;
}
.popular-place .double-ul {
 display: flex;
 justify-content: space-between;
 max-width: 80%;
}
.double-ul .one,
.double-ul .two {
 list-style-type: none;
 font-size: 1.2rem;
}
.double-ul .one li,
.double-ul .two li {
 margin-bottom: 2rem;
}

/* footer news */
.news-letter h3 {
 font-size: 2rem;
 font-weight: 600;
 margin-bottom: 2rem;
}
.news-letter p {
 font-size: 1.3rem;
 margin-bottom: 2rem;
}

.footer-form {
 display: flex;
 justify-content: flex-start;
 position: relative;
 margin-bottom: 8rem;
}
.news-letter .news-input {
 padding: 1rem 1.8rem;
 width: 100%;
 border: none;
}
.news-letter .news-input:focus {
 outline-color: var(--lightGreenColor);
}

.news-letter .news-button {
 padding: 1rem 1.4rem;
 position: absolute;
 top: 0;
 right: 0;
 background-color: var(--lightGreenColor);
 border: none;
}

/* copyright */
.copyright-hr {
 width: 100%;
 margin-bottom: 5rem;
}

.copyright {
 display: flex;
 justify-content: space-between;
}
.copyright p {
 font-size: 1.4rem;
}
.footer-menu {
 display: flex;
}
.footer-list {
 list-style-type: none;
 padding-left: 1.2rem;
}
.footer-list a {
 font-size: 1.2rem;
 text-decoration: none;
 color: var(--whiteColor);
 transition: all 0.3s ease-in-out;
}
.footer-list a:hover {
 color: var(--primColor);
}
/********** Section 8 End Footer **********/

/********** All Additional Pages Styling (Which are new) Start From Here  **********/

/* common for all additional pages */
.new-head {
 background-image: url("../img/feature-bg.webp");
 width: 100%;
 background-size: cover;
 background-position: center top;
}

.new-tag h3 {
 color: var(--whiteColor);
 font-size: 4rem;
 font-weight: 400;
 text-align: center;
 padding: 10rem;
 letter-spacing: 0.1rem;
}

.top-notation {
 margin-bottom: 5rem;
}
.top-icon {
 font-size: 1.5rem;
 margin-right: 1rem;
 color: var(--lightGreenColor);
}
.top-span {
 color: var(--grayColor);
 text-decoration: none;
 font-size: 1.5rem;
 margin-right: 2rem;
}
.top-current:hover {
 text-decoration: underline;
 color: var(--lightGreenColor);
}

.pagination {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-bottom: 10rem;
}

.pagination a {
 color: black;
 padding: 0.8rem 1.6rem;
 text-decoration: none;
 transition: all 0.3s;
 border: 1px solid #888;
 margin: 0 0.5rem;
 font-size: 1.5rem;
}

.pagination .current,
.pagination a:hover {
 color: var(--lightGreenColor);
 border-color: var(--lightGreenColor);
}
/* common for all additional pages */

/********** "About" Page 2 Start **********/

.about-pic {
 width: 100%;
 margin-bottom: 3rem;
}

.about-info {
 display: flex;
 justify-content: space-between;
}
.about-common {
 width: 47%;
}

.about-common h3 {
 font-size: 3rem;
 font-weight: 500;
 margin-bottom: 4rem;
 letter-spacing: 0.1rem;
}
.about-common p {
 font-size: 1.4rem;
 line-height: 2rem;
 letter-spacing: 0.1rem;
 margin-bottom: 4rem;
}
.quality {
 font-size: 1.4rem;
 line-height: 3rem;
 list-style-type: none;
}
.quality li:nth-child(4) {
 margin-bottom: 4rem;
}
.quality-icon {
 color: var(--lightGreenColor);
 margin-right: 0.4rem;
 font-size: 1.2rem;
}

/* about sec3 */
.about-sec3 {
 width: 100%;
 text-align: center;
 padding-bottom: 6rem;
}
.about-sec3 h3 {
 font-size: 3rem;
 font-weight: 500;
 color: var(--grayColor);
 margin-bottom: 2rem;
 padding-top: 10rem;
}
.about-sec3 p {
 font-size: 1.4rem;
 color: var(--secColor);
 margin-bottom: 3rem;
}

.agent-gallery {
 display: flex;
 justify-content: space-between;
}

.agent-gallery .agent-common {
 width: 24%;
 text-align: left;
}

.agent-gallery .agent-common img {
 width: 100%;
 margin-bottom: 2rem;
}

.agent-gallery .agent-common h5 {
 font-size: 2rem;
 font-weight: 400;
 margin-bottom: 1rem;
}

.agent-gallery .agent-common p {
 font-size: 1.4rem;
 margin-bottom: 1rem;
 letter-spacing: 0.1rem;
}

.agent-hr {
 width: 15%;
 margin-bottom: 3rem;
 color: var(--lightGreenColor);
}

.agent-icon {
 color: var(--lightGreenColor);
 margin-right: 0.9rem;
}
/**********  "About" Page 2 End **********/

/**********  "Contact" Page 2 start **********/

.map {
 margin-bottom: 7rem;
}

.contact-page-content {
 display: flex;
 justify-content: space-between;
}
.contact-common {
 width: 48%;
}
.contact-common img {
 width: 100%;
 margin-bottom: 3rem;
}
.contact-common h3 {
 font-size: 3rem;
 font-weight: 400;
 margin-bottom: 2rem;
}
.contact-common p {
 font-size: 1.4rem;
 margin-bottom: 2rem;
}

.form-group {
 display: flex;
 justify-content: space-between;
}
.form-group input {
 width: 48%;
 margin-bottom: 2rem;
 padding: 1rem 1.5rem;
 border: 1px solid var(--lightGrayColor);
}

.contact-page-form textarea {
 display: block;
 width: 100%;
 margin-bottom: 2rem;
 padding: 1rem 1.5rem;
}

.form-group .contact-input:focus {
 border-color: var(--lightGreenColor);
}

.contact-page-form textarea:focus {
 outline-color: var(--lightGreenColor);
}

.submit {
 width: 100%;
 padding: 1rem 1.5rem;
 background-color: var(--primColor);
 border: none;
 color: var(--whiteColor);
 font-weight: 500;
 letter-spacing: 0.1rem;
 cursor: pointer;
}

/********** "Contact" Page 2 End **********/

/********** All Additional Pages Styling (Which are new) End Here  **********/

/********** Media Query For Mobile **********/
@media only screen and (min-width: 280px) and (max-width: 768px) {
 /* container */
 .container {
  max-width: 92%;
 }

 /********** Navbar active and Sticky Condition for small screen **********/
 /* nav menu when click on hamburger */
 .nav-menu.active {
  left: 0;
 }

 /* navbar when active on small screen*/
 .navbar.active {
  background-color: var(--grayColor);
 }

 /* navbar active then navlink (a)hover color and current color */
 .navbar.active .nav-link:hover,
 .navbar.active .nav-link.current {
  color: var(--lightGreenColor);
 }

 /* when navbar active and sticky in both condition hamburger color */
 .navbar.active .hamburger .bar,
 .navbar.sticky .hamburger .bar {
  background-color: var(--lightGreenColor);
 }

 /* when navabr active then logo and navlinkcolo */
 .navbar.active .logo,
 .navbar.active .nav-link {
  color: var(--whiteColor);
 }

 /* when navbar sticky nav-menu (ul ) */
 .navbar.sticky .nav-menu {
  top: 9rem;
 }

 /********** Navbar active and Sticky Condition for small screen**********/

 /********** Header Start **********/

 /* nav-menu */
 .nav-menu {
  position: fixed;
  top: 10rem;
  left: -100%;
  width: 100%;
  height: 90%;
  flex-direction: column;
  align-items: center;
  background-color: var(--grayColor);
  z-index: 3;
 }

 .nav-list {
  margin: 3rem auto;
  text-align: center;
 }

 /* hamburger */
 .hamburger {
  display: block;
 }

 /* hamburger cross when click*/
 .hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
 }
 .hamburger.active .bar:nth-child(2) {
  opacity: 0;
 }
 .hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
 }

 /* tagline */
 .tag-line h2 {
  font-size: 3rem;
 }

 .tag-line p {
  font-size: 1.8rem;
 }

 /********** Header End **********/

 /********** Filter Form Start **********/
 .filter-form {
  flex-direction: column;
 }

 input {
  width: 100%;
  padding: 1rem;
 }

 select {
  width: 100%;
  padding: 1rem;
 }
 /********** Filter Form  End **********/

 /********** Section1 Start recent property **********/
 .sec1-recent-property p {
  margin-bottom: 2rem;
  font-size: 1.2rem;
 }

 .recent-sale {
  flex-flow: column nowrap;
 }

 .common-img {
  width: 100%;
  margin-bottom: 3rem;
 }
 .common-img .sale-status-rent,
 .common-img .sale-status-sale {
  padding: 1rem 2rem;
 }

 .common-img .property-info .info h5 {
  font-size: 1.3rem;
 }
 .common-img .property-info .info p {
  font-size: 1.1rem;
 }

 .common-img .property-info .price {
  padding: 1rem;
  font-size: 1.3rem;
 }
 .img4-box {
  margin-bottom: 10rem;
 }
 /********** Section1 End **********/

 /********** Section2 Start our service**********/

 .sec2 {
  background-position: top center;
 }
 .sec2 .service {
  flex-flow: column nowrap;
  padding-top: 4rem;
 }
 .service .service-img {
  width: 100%;
  margin-bottom: 4rem;
 }
 .service .service-title {
  width: 100%;
 }

 .service-item .service-item-text p {
  margin-bottom: 4rem;
 }
 /********** Section2 End **********/

 /********** Section3 Start fearure listing**********/
 .sec3 h3 {
  padding-top: 5rem;
 }
 .sec3-featured {
  flex-flow: column nowrap;
 }
 .sec3-featured .common-box {
  width: 100%;
 }
 /********** Section3 End **********/

 /********** Section4 Start looking for Property**********/

 .property-gallery {
  flex-flow: column nowrap;
 }
 .property-gallery .common-property {
  width: 100%;
 }
 .property-gallery .common-property h5 {
  font-size: 1.6rem;
 }

 /********** Section4 End **********/

 /********** Section6 Start testimonal **********/
 .testim .arrow {
  font-size: 1.5rem;
  top: 55%;
 }
 .testim .cont div p {
  line-height: 2.5rem;
  font-size: 1.2rem;
  width: 70%;
 }

 .testim .cont div .img img {
  width: 10rem;
 }
 /********** Section6 End **********/

 /********** Section7 Start latest news**********/
 .sec7 {
  padding-bottom: 3rem;
 }
 .news-block {
  flex-flow: column nowrap;
 }
 .news-block .block-common {
  width: 100%;
 }
 .news-block .block-common img {
  margin-bottom: 2rem;
 }
 .news-block p {
  margin-bottom: 5rem;
 }
 /********** Section7 End **********/

 /********** Section8 Start Footer **********/

 .footer-content {
  flex-flow: column nowrap;
 }

 .footer-common {
  width: 100%;
 }

 .foot .main .social {
  max-width: 80%;
  margin-bottom: 4rem;
 }

 .contact h3 {
  margin-bottom: 3rem;
 }

 .contact p:nth-child(5) {
  margin-bottom: 4rem;
 }

 .popular-place h3 {
  margin-bottom: 3rem;
 }

 .popular-place .double-ul {
  max-width: 60%;
 }

 .double-ul .one li:nth-child(5),
 .double-ul .two li:nth-child(5) {
  margin-bottom: 4rem;
 }

 .news-letter p {
  margin-bottom: 4rem;
 }

 .copyright {
  flex-flow: column;
  text-align: center;
 }

 .copyright p {
  order: 2;
 }

 .footer-menu {
  margin-bottom: 2rem;
 }

 .footer-list {
  margin: auto;
 }

 /********** Section8 End Footer**********/

 /********** All Additional Pages Media Query (Which are new) Start From Here  **********/

 /********** About**********/
 .about-info {
  flex-flow: column nowrap;
 }

 .about-common {
  width: 100%;
 }

 .about-common h3 {
  margin-bottom: 3rem;
 }

 .quality li {
  text-align: justify;
 }

 /* agent info */
 .agent-gallery {
  flex-flow: column nowrap;
 }

 .agent-gallery .agent-common {
  width: 100%;
 }

 .agent-gallery .agent-common img {
  width: 100%;
  margin-bottom: 2rem;
 }

 /* agent last p */
 #p-last {
  margin-bottom: 4rem;
 }

 /********** Contact**********/
 /* map */
 .map {
  width: 100%;
 }

 /* Content Group */
 .contact-page-content {
  flex-flow: column nowrap;
 }
 .contact-common {
  width: 100%;
 }

 /* img */
 .contact-common img {
  width: 100%;
 }

 /* form */
 .form-group {
  flex-flow: column nowrap;
 }

 .form-group input {
  display: block;
  width: 100%;
 }
 .submit {
  margin-bottom: 3rem;
 }
 /********** All Additional Pages Media Query (Which are new) End Here  **********/
}

/********** Media Query For Tablets **********/
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
 /* container */
 .container {
  max-width: 92%;
 }

 /* filter search */
 .filter-form {
  flex-direction: column;
 }
 .filter-search input {
  width: 100%;
  padding: 1rem;
 }

 select {
  width: 100%;
  padding: 1rem;
 }

 /* sec1 recent property*/
 .common-img {
  width: 100%;
  margin-bottom: 3rem;
 }
 .common-img .sale-status-rent,
 .common-img .sale-status-sale {
  padding: 1rem 2rem;
 }

 .common-img .property-info .info h5 {
  font-size: 1.3rem;
 }
 .common-img .property-info .info p {
  font-size: 1.1rem;
 }

 .common-img .property-info .price {
  padding: 1rem;
  font-size: 1.3rem;
 }
 .img4-box {
  margin-bottom: 10rem;
 }

 /* sec2 our service*/
 .sec2 {
  background-position: top center;
 }
 .sec2 .service {
  flex-flow: column nowrap;
  padding-top: 4rem;
  text-align: center;
 }

 .service-item .service-item-text h5 {
  text-align: left;
 }

 .service .service-img {
  width: 100%;
  margin-bottom: 4rem;
 }

 .service .service-title {
  width: 100%;
 }

 .service-item .service-item-text p {
  text-align: left;
  margin-bottom: 4rem;
 }

 /* sec3  featured listing*/
 .sec3 h3 {
  padding-top: 6rem;
 }
 .sec3-featured {
  flex-flow: row wrap;
 }
 .sec3-featured .common-box {
  width: 49%;
 }

 /* sec4  looking property*/
 .property-gallery {
  flex-flow: row wrap;
 }
 .property-gallery .common-property {
  width: 49%;
 }

 /* sec6  testimonial*/
 .testim .arrow {
  top: 65%;
 }

 /* sec 7 latest news*/

 .news-block {
  flex-flow: row wrap;
 }
 .news-block .block-common {
  width: 49%;
 }
 .news-block p {
  margin-bottom: 5rem;
 }

 /********** Section8 Start Footer **********/

 .footer-content {
  flex-flow: row wrap;
 }

 .footer-common {
  width: 49%;
 }

 .foot .main .social {
  max-width: 80%;
  margin-bottom: 4rem;
 }

 .contact h3 {
  margin-bottom: 3rem;
 }

 .contact p:nth-child(5) {
  margin-bottom: 4rem;
 }

 .popular-place h3 {
  margin-bottom: 3rem;
 }

 .popular-place .double-ul {
  max-width: 60%;
 }

 .double-ul .one li:nth-child(5),
 .double-ul .two li:nth-child(5) {
  margin-bottom: 4rem;
 }

 .news-letter p {
  margin-bottom: 4rem;
 }

 .copyright {
  flex-flow: column;
  text-align: center;
 }

 .copyright p {
  order: 2;
 }

 .footer-menu {
  margin-bottom: 2rem;
 }

 .footer-list {
  margin: auto;
 }

 /********** All Additional Pages Media Query (Which are new) Start Here  **********/
 /* about */
 .about-info {
  flex-flow: column nowrap;
 }
 .about-common {
  width: 100%;
 }

 .agent-gallery {
  flex-flow: row wrap;
 }
 .agent-gallery .agent-common {
  width: 49%;
 }
 .agent-common #p-last {
  margin-bottom: 5rem;
 }

 /* new page  */
 /* Contact */

 /* map */
 .map {
  width: 100%;
 }

 /* Content Group */
 .contact-page-content {
  flex-flow: column nowrap;
 }
 .contact-common {
  width: 100%;
 }

 /* img */
 .contact-common img {
  width: 100%;
  height: 100%;
 }

 /* form */
 .form-group {
  flex-flow: column nowrap;
 }

 .form-group input {
  display: block;
  width: 100%;
 }
}
/********** All Additional Pages Media Query (Which are new) Ends Here  **********/
